<!Doctype html>
<html>
    <head>
        <title> Jovian carees site</title>
        {% include "bootstrap.html" %}

    <style>
        
        #banner{
            height: 360px;
            width: 100%;
            object-fit: cover;
            
        }
        
    </style>    

      
        
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="container">
        <h1 class="text-center mt-3 mb-4"> {{company_name}} careers</h1>
            {% include "banner.html" %}
        
        <h1 class="text-center mt-3" >About Us</h1>
        <p class="lead"> Jovian careers is a website that offers you the opportunity to learn and work with cutting edge technology in the fields of machine learning and data analysis. Whether you are a beginner or an expert, you can find courses, projects, and challenges that suit your level and interest.</p>
    <h2 class="text-center">Job Positions</h2>
            <div class="border-bottom, row">
                {% for job in jobs%}
                {% include "jobtitle.html" %}
                {% endfor %}
                
          </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg" >Contact Us</button>
        <p class = "mt-2">Copyright 2022 Jovian</p>
    </div>       

        </div>
        {% include "footer.html" %}
    </body>
</html>