<!DOCTYPE html>

<html>
    <head>
        <title> {{job["title"]}}</title>
        {% include "bootstrap.html" %}

           <style>
        
        #banner{
            height: 360px;
            width: 100%;
            object-fit: cover;
            
        }
        
    </style>    


        
    </head>

    <body>
        {% include "navbar.html" %}
        
        <div class="container">

           <h1 class="text-center mt-3 mb-4"> Jovian careers</h1>
            
          <h3>Job Title </h3>   
          <p class = "lead">{{job["title"]}}</p>
          <p class = "lead">{{job["location"]}}</p>

           <h3>Salary</h3>
           <p class="lead">{{job.currency}} {{job.salary}}</p>

            <h4>Rquirements</h4>
              <ul>
                  {% for lines in job.requirements.split("\n") %}
                  <li>
                    {{lines}}
                  </li>
                  {% endfor %}
                </ul>   

            <h3>Responsibilties</h3>
            <ol>
                {% for lines in job.responsibilities.split("\n") %}
                <li>
                    {{lines}}
                </li>
                
                {% endfor %}
            </ol>

            <form action="/jobs/{{job.id}}/apply" method="post">
                <div class="mb-2">
                    <label>Full Name :</label><br>
                    <input type="text" required placeholder="Bruce Wayne" name="Full Name">
                </div>

                <div class="mb-2">
                    <label>Email : </label><br>
                    <input type="email" required placeholder="brucewayne@gmail.com" name="Email">
                </div>
                
                <div class="mb-2">
                    <label>LinkedIn Url : </label><br>
                    <input type="url" name="LinkedIn Url">
                </div>
                <div class="mb-2">
                    <label>Education Qualification : </label><br>
                    <textarea name="Education Qualification"></textarea>
                </div>
                <div class="mb-2">
                    <label>Job experience : </label><br>
                    <textarea name = "Job experience"></textarea>
                </div>

                <div class="mb-2">
                    <label>Resume link : </label><br>
                    <input type="url" name="Resume Link">
                </div>

                <div class="mb-2">
                    <input type="submit">
                </div>


            </form>

        {% include "footer.html" %}

    </body>

    
</html>